* {
    text-align: center;
}

body {
    color: #325FAF;
    background-color: #C1F27F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: deeppink;
}

img {
    margin: 1em;
}

.meters {
    margin: 1em;
}

button {
    background-color: pink;
    border-color: hotpink;
    color: deeppink;
    border-radius: 1em;
    margin: 1em;
}

button:active {
    color: white;
    border-color: white;
}

